report.txt
.gradle/6.2/gc.properties
.gradle/6.2/executionHistory/executionHistory.bin
.gradle/6.2/executionHistory/executionHistory.lock
.gradle/6.2/fileChanges/last-build.bin
*.lock
.gradle/6.2/fileHashes/fileHashes.bin
*.bin
*.properties
*.xml
*.class
*.html
*.css
build/reports/tests/test/js/report.js
out/production/classes/META-INF/tp.main.kotlin_module
build/
